services:
  db: 
    # Sofware, base de datos a usar
    image: postgres:15
    
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}

    # Creación volumen que contiene datos de la base de datos:
    volumes:
      - pgdata:/var/lib/postgresql/data

  bot:
      # Creacion imagen contiene archivo dockerfile completo
      build: .
      # comando el cual espera 5 segundos antes de ejectar el programa
      command: ["sh", "-c", "sleep 5 && ./modulo"]
      # Servicio dependiente db(base datos) para este servicio bit(botrecordatorios)
      depends_on:
        - db
      environment:
        - POSTGRES_USER=${POSTGRES_USER}
        - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
        - POSTGRES_DB=${POSTGRES_DB}
        - POSTGRES_HOST=db

# Crea el volumen en el que se van a guardar los datos de la base de datos.
# Si no está creado, Docker lo crea aquí.
volumes:
  pgdata:
